@import "tailwindcss";

body {
  max-width: 1500px;
  height: 100vh;
}

@theme {
  --color-primary: #6366f1;
  --color-primary-foreground: #eef2ff;
  --color-secondary: #f87171;
  --color-secondary-foreground: #fefefe;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.form-bg {
  @apply
  flex justify-center p-12 h-[calc(100vh-60px)] w-full 
  bg-cover bg-center bg-no-repeat
   bg-[url(https://images.pexels.com/photos/4050430/pexels-photo-4050430.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)]
}
.login-button {
  @apply text-black bg-yellow-400 hover:bg-yellow-500 focus:ring-blue-300 font-medium rounded-full text-sm py-2 text-center w-20 block mx-auto;
}

.form-input{
  @apply text-secondary-foreground text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 
  bg-secondary-foreground border-secondary-foreground 
  dark:bg-black/60 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  block w-full font-bold p-2 mt-5;
}


.login-form {
  @apply isolate w-full max-w-md rounded-xl bg-white/20 ring-2 shadow-xl ring-black/20 p-4 mx-auto;
  max-height: 90vh;
  overflow-y: auto;
}

.register-input {
  @apply w-full p-2 rounded-lg bg-amber-50 text-black border;
}

.register-div-input {
  @apply flex flex-col gap-2;
}

.eye-icon{
  @apply absolute right-3 top-9 transform -translate-y-1/2 cursor-pointer
}

.error-message {
  @apply  text-red-800 text-sm bg-white/20 font-bold rounded-sm
  md:pt-0 sm:h-5 dark:ml-0  block md:h-5 
}

.form-button{
  @apply bg-amber-500 cursor-pointer text-secondary-foreground rounded-lg w-full mt-3 p-2 text-sm 
font-bold
}

.btn{
  @apply rounded-sm bg-amber-500 text-white
}
