@import "tailwindcss";

body {
  max-width: 1500px;
  height: 100vh;
  font-family: "Inter", serif;
}

@theme {
  --color-primary: #b4877b;
  --color-primary-foreground: #b4977c;
  --color-secondary: #f87171;
  --color-secondary-foreground: #fefefe;
}

.custom-scrollbar::-webkit-scrollbar {
  display: none;
}

.form-bg {
  @apply
  flex justify-center p-12 h-[calc(100vh-60px)] w-full 
  bg-cover bg-center bg-no-repeat
   bg-[url(https://images.pexels.com/photos/4050430/pexels-photo-4050430.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2)]
}
.form-input{
  @apply text-secondary-foreground text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 
  bg-secondary-foreground border-secondary-foreground 
  dark:bg-black/60 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500
  block w-full font-bold p-2 mt-5;
}


.login-form {
  @apply isolate w-full max-w-md rounded-xl bg-white/20 ring-2 shadow-xl ring-black/20 p-4 mx-auto;
  max-height: 90vh;
  overflow-y: auto;
}

.register-input {
  @apply w-full p-2 rounded-lg bg-amber-50 text-black border;
}

.register-div-input {
  @apply flex flex-col gap-2;
}

.eye-icon{
  @apply absolute right-3 top-9 transform -translate-y-1/2 cursor-pointer
}

.error-message {
  @apply  text-red-800 text-sm bg-white/20 font-bold rounded-sm
  md:pt-0 sm:h-5 dark:ml-0  block md:h-5 
}

.form-button{
  @apply bg-[#b4877b] cursor-pointer text-secondary-foreground rounded-lg w-full mt-3 p-2 text-sm 
font-bold hover:bg-primary-foreground
}

.btn{
  @apply rounded-lg bg-[#b4877b] cursor-pointer hover:bg-primary-foreground text-white font-bold p-2 px-4
}

.navbar-btn{
  @apply relative px-4 py-2 bg-primary rounded-lg hover:bg-primary-foreground cursor-pointer hover:scale-105
}

.navbar-btn2{
  @apply py-2 rounded-lg hover:scale-105 transition px-4 hover:bg-primary-foreground/20 mb-2
}